* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  .container {
    margin-left: 7.68rem;
    margin-top: 8.4rem;
    .nav {
      display: flex;
      justify-content: space-between;

      .image-up {
        margin-right: 9.5rem;
      }
    }

    .section {
      display: flex;
      gap: 3.1rem;
      .category {
        display: flex;
        margin-top: 9.3rem;
        gap: 2.1rem;
        .circles {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          gap: 3.2rem;

          input {
            transform: translateX(7px);
            width: 1.2rem;
            height: 1.2rem;
            border: 1px solid #000000;
          }
        }

        .category-names {
          display: flex;
          flex-direction: column;
          font-family: "Righteous", cursive;
          color: #808080;
          font-size: 1.2rem;
          line-height: 2.1rem;
          gap: 3.1rem;

          p {
            font-family: "Pacifico";
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 2.1rem;
            color: #808080;
          }
        }
      }
      .container-task {
        max-height: 24.5rem; /* Define a altura máxima da lista para 300px */
        overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando a lista excede a altura máxima */
        margin-top: 9.1rem;
        display: grid;
        gap: 1.2rem;
        grid-template-columns: 1fr 1fr 1fr;
        .task {
          overflow: hidden;
          display: flex;
          border-radius: 10px;
          flex-direction: column;
          gap: 1.8rem;
          width: 379px;
          height: 187px;
          background-color: #fff9de;
          .text,
          h1 {
            width: 190px;
            height: 31px;
            border: none;
            border-radius: 8px;
            margin-left: 24px;
            margin-top: 15px;
            font-family: "Righteous";
            font-size: 20px;
            line-height: 25px;
          }

          .let {
            text-decoration: line-through;
          }
          textarea,
          .areaTranformEndParagraph {
            overflow: hidden;
            border-radius: 8px;
            border: none;
            width: 290px;
            height: 76px;
            word-wrap: break-word;
            resize: none;
            margin-left: 24px;
            font-family: "Righteous";
            font-size: 15px;
            line-height: 19px;
            color: #595959;
          }

          .done {
            margin-bottom: 10px;
            margin-left: 24px;
            display: flex;
            gap: 50px;
            .image-checked {
              width: 25px;
              height: 25px;
            }
            .image-delete {
              width: 25px;
              height: 25px;
            }
          }
        }
        .concluida {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  body {
    width: 100vw;
    height: 100vh;
    .container {
      
      margin-left: 50px;
      margin-top: 105px;
      .nav {
        display: flex;
        justify-content: space-between;

        .image-up {
          margin-right: 50px;
        }
      }

      .section {
        display: flex;
        gap: 50px;
        .category {
          display: flex;
          margin-top: 100px;
          gap: 35px;
          .circles {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 52px;

            input {
              transform: translateX(7px);
              width: 20px;
              height: 20px;
              border: 1px solid #000000;
            }
          }

          .category-names {
            display: flex;
            flex-direction: column;
            font-family: "Righteous", cursive;
            color: #808080;
            font-size: 20px;
            line-height: 35px;
            gap: 51px;

            p {
              font-family: "Pacifico";
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 25px;
              color: #808080;
            }
          }
        }
        .container-task {
          max-height: 392px; /* Define a altura máxima da lista para 300px */
          overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando a lista excede a altura máxima */
          margin-top: 100px;
          display: grid;
          gap: 20px;
          grid-template-columns: 1fr 1fr;
          .task {
            .text,
            .done {
              margin-bottom: 10px;
            }
          }
          .concluida {
            display: flex;
          }
        }
      }
    }
  }
}

@media (max-width:768px){
  body {
    width: 100vw;
    height: 100vh;
    .container {
      margin-left: 50px;
      margin-top: 105px;
      .nav {
        display: flex;
        justify-content: space-between;
  
        .image-up {
          margin-right: 20px;
        }
      }
  
      .section {
        display: flex;
        gap: 10px;
        .category {
          display: flex;
          margin-top: 120px;
          gap: 10px;
          .circles {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 72px;
  
            img{
              width: 1.8rem;
              height: 1.8rem;
            }
            input {
              transform: translateX(7px);
              width: 1.2rem;
              height: 1.2rem;
              border: 1px solid #000000;
            }
          }
  
          .category-names {
            display: flex;
            flex-direction: column;
            font-family: "Righteous", cursive;
            color: #808080;
            font-size: 0.9rem;
            line-height: 1.8rem;
            gap: 4.5rem;
  
            p {
              font-family: "Pacifico";
              font-style: normal;
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 1.2rem;
              color: #808080;
            }
          }
        }
        .container-task {
          max-height: 28.1rem; /* Define a altura máxima da lista para 300px */
          overflow-x: auto;
          overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando a lista excede a altura máxima */
          margin-top: 7.5rem;
          display: grid;
          gap: 1.2rem;
          grid-template-columns: 1fr 1fr;
          .task {
            overflow: hidden;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            gap: 1.2rem;
            width: 21.1rem;
            height: 11.6rem;
            background-color: #fff9de;

            .text,
            h1 {
              width: 11.8rem;
              height: 1.9rem;
              border: none;
              border-radius: 8px;
              margin-left: 1.5rem;
              margin-top: 0.9rem;
              font-family: "Righteous";
              font-size: 1.2rem;
              line-height: 1.5rem;
            }
          }        
        }
      }
    }
  }
}

@media (max-width:24.3rem){
  body {
    width: 100vw;
    height: 100vh;
    .container {
      margin-left: 2rem;
      margin-top: 1.8rem;
      .nav {
        display: flex;
        justify-content: space-between;
  
        .image-up {
          margin-right: 0px;
        }
      }
  
      .section {
        display: flex;
        gap: 3.1rem;
        .category {
          display: none;
          gap: 2.1rem;
          .circles {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            gap: 2rem;
  
            input {
              transform: translateX(7px);
              width: 20px;
              height: 20px;
              border: 1px solid #000000;
            }
          }
  
          .category-names {
            display: flex;
            flex-direction: column;
            font-family: "Righteous", cursive;
            color: #808080;
            font-size: 1.25rem;
            line-height: 2.1rem;
            gap: 3.1rem;
  
            p {
              font-family: "Pacifico";
              font-style: normal;
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 2.1rem;
              color: #808080;
            }
          }
        }
        .container-task {
          max-height: 31.2rem; /* Define a altura máxima da lista para 300px */
          overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando a lista excede a altura máxima */
          margin-top: 3.5rem;
          display: grid;
          gap: 1.2rem;
          grid-template-columns: 1fr;
          .task {
            overflow: hidden;
            display: flex;
            border-radius: 10px;
            flex-direction: column;
            gap: 1.2rem;
            width: 20.6rem;
            height: 11.6rem;
            background-color: #fff9de;
            .text,
            h1 {
              width: 11.8rem;
              height: 1.9rem;
              border: none;
              border-radius: 8px;
              margin-left: 1.5rem;
              margin-top: 0.9rem;
              font-family: "Righteous";
              font-size: 1.25rem;
              line-height: 1.5rem;
            }
  
            .let {
              text-decoration: line-through;
            }
            textarea,
            .areaTranformEndParagraph {
              overflow: hidden;
              border-radius: 8px;
              border: none;
              width: 18.1rem;
              height: 4.7rem;
              word-wrap: break-word;
              resize: none;
              margin-left: 1.5rem;
              font-family: "Righteous";
              font-size: 0.9;
              line-height: 1.1rem;
              color: #595959;
            }
  
            .done {
              margin-bottom: 0.6rem;
              margin-left: 1.5rem;
              display: flex;
              gap: 3.1rem;
              .image-checked {
                width: 1.56rem;
                height: 1.56rem;
              }
              .image-delete {
                width: 1.56rem;
                height: 1.56rem;
              }
            }
          }
          .concluida {
            display: flex;
          }
        }
      }
    }
  }
}